body {
    margin: 0;
}

ul.fixed-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

ul.fixed-menu li {
    float: left;
}

ul.fixed-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}

ul.fixed-menu li a:hover {
    background-color: #d51c00;
}

ul.fixed-menu li a:active {
    background-color: #9f1500;
}

ul.fixed-menu li a:active {
    background-color: #9f1500;
}