.my-form {
    padding: 20px;
}

.my-form .form-item-group {
    padding: 10px 0;
}

.my-form label {
    display: block;
}

.my-form input[type=text] {
    width: 100%;
}

/* .my-form input[type=submit] {
    background-color: #12b300;
    color: white;
    border: black solid 1px;
    padding: 5px 10px;
} */

.my-btn-green {
    background-color: #12b300;
    color: white;
    border: #0f9700 solid 3px;
    padding: 5px 10px;
}
.my-btn-green:hover {
    color: #000;
    background-color: #16dc00;
    border-color: #16dc00;
}


.my-btn-yellow {
    background-color: #ffbb00;
    color: white;
    border: #dba000 solid 3px;
    padding: 5px 10px;
}
.my-btn-yellow:hover {
    color: #000;
    background-color: #ebac00;
    border-color: #ebac00;
}